{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'registrotarefas/stylergst.css' %}">
    <link rel="icon" href="https://cdn-icons-png.freepik.com/512/5656/5656188.png">
    <title>Document</title>
</head>
<body>
    <div class="container">
            <h1>Tarefas Adicionadas.</h1>
            <ul>
                {% for task in tasks %}
                <li>
                    <strong>{{ task.title }}</strong> - {{ task.due_date }} - {{ task.priority }}

                    <div class="btn-container">
                    <a href="{% url 'edit_task' task.id %}" class="btnedit" class="btn btn-edit">Alterar</a>
                    <h3>\\</h3>
                    <a href="{% url 'delete_task' task.id%}" class="btndelete" class="btn btn-delete" onclick="return confirm('Tem certeza que deseja remover essa tarefa?');">Remover</a>
                    </div>
                </li>
                {% empty %}
                <p>Você ainda não possui tarefas cadastradas.</p>
                {% endfor %}
            </ul>
            <a href="{% url 'tasksregister' %}"><button id="show-tasks">Adicionar Tarefas</button></a>
    </div>
</body>
</html>