* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Poppins', sans-serif;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.300), rgba(0, 0, 0, 0.300)), 
              url("https://img.freepik.com/premium-vector/orange-sparkle-black-background-red-flash-highlight-dark-background-vector-illustration_541075-89.jpg") no-repeat center center/cover;
              justify-content: center;        
              align-items: center;
              min-height: 100vh;
              overflow: auto;
              margin: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: rgba(18, 18, 18, 0.800);
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    
}

h1 {
    text-align: center;
    color: white;
    margin-top: 1.5rem;
    margin-bottom: 50px;
}

h2 {
    text-align: center;
    padding: 20px;
    display: inline;
}


.listas {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 20%; /* Ajuste a largura da área para um layout mais equilibrado */
}

.lista-item x{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h2 {
    margin-bottom: 10px; /* Espaço entre o título e a lista */
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin-bottom: 8px; /* Espaço entre os itens das listas */
}

.baixa, .media, .alta {
    width: 100px; /* Largura das listas */
    padding: 20px;
}

ul{
    list-style: none;
}
.item{
    position: relative;
    margin: 10px 0px;
}

.lists {
    padding: 50px;
}


  
#show-tasks {
    margin-top: 1.5rem;
    width: 100%;
    padding: 0.8rem;
    background: linear-gradient(to right, #ff007a, #ff9900);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
}

#show-tasks:hover {
    background: linear-gradient(to right, #cf0064, #ca7900);
}

#task-list {
    list-style-type: none;
    padding: 0;
}

.task-item {
    padding: 10px;
    margin-bottom: 10px;
    background: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.btn-container {
    display: flex;
    font-size: 1rem;
    color: #757575;
    text-decoration: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.btnedit {
    font-size: 1rem;
    color: #757575;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-right: 1rem;
}

.btnedit:hover {
    color: #ff007a;
}

.btndelete {
    font-size: 1rem;
    color: #757575;
    text-decoration: none;
    display: block;
    text-align: center;
    padding-left: 1rem;
}

.btndelete:hover {
    color: #ff007a;
}